<!DOCTYPE html>
<html>
<head>
  <style>
    body {background-color: powderblue;}
      
    </style>
  <title>HOME PAGE</title>
</head>
<body>
  <h3 style="color:deeppink;">BILLSNAP</h3>
  <p style="color:gray;">Snap the Bill Payments.</p>
  <h1>Get Paid Effortless With Our Billing System Software</h1>
  <p style="color:gray;">Complete billing system software tp streamline your entire subscription billing process.</p>
<br><br>
  <h2 style="color:purple;">LOGIN</h2>
  <h3>For Companies</h3>
  <p>Use Bilsnap to create unlimited professional invoices.
    Send payement reminders,manage expenses,log work hours,and get paid faster</p>
    <button type="submit"><a href="/signout">login</a></button>
  <h3>For Customer</h3>
  <p>Track all the expenses and purchase in one place and recurring invoices for your bills and analyses your business better</P>
  <button type="submit"><a href="/signup">Login</a></button>
  <br>
  <p>Dont have a account?
  <button type="submit"><a href="/signin">Signup</a></button> or Contact admin</P>
  <button type="submit"><a href="/signout">signout</a></button>
</body>
</html>